MERCADOPAGO_ACCESS_TOKEN="APP_USR-..."
SUPABASE_URL="https://..."
SUPABASE_KEY="eyJ..." # Chave publica (anon_key) ou de serviço (preferencialmente publica, a de serviço fica abaixo)
SUPABASE_SERVICE_KEY="eyJ..." # OBRIGATORIO: A service_role key, que permite ao servidor do Nuxt ignorar o RLS do Supabase
NUXT_PUBLIC_SUPABASE_URL="https://..."
NUXT_PUBLIC_SUPABASE_ANON_KEY="eyJ..."
